/* Unterkategorien Leiste */
.sub-filter-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.sub-btn {
    background-color: #1a1a1a;
    color: #bbb;
    border: 1px solid #333;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 0.9em;
    transition: 0.2s;
}

.sub-btn:hover, .sub-btn.active {
    background-color: #007acc;
    color: #fff;
    border-color: #007acc;
}
